---
layout: default
---

<div id="app">
	
	<div id="map" class="map"></div>
	
	<form class="row">
		<div class="small-3 columns">
			<label for="film-type" class="right inline">Type</label>
		</div>
		<div class="small-9 columns">
			<select name="type" id="film-type">
				<option value="" disabled="disabled">Loading&hellip;</option>
			</select>
		</div>
	</form>

</div>

<script type="text/template" id="film-type-template">
	<option value="<%= value %>"><%= type %> (<%= count %>)</option>
</script>


<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=visualization"></script>
<script src="{{ site.baseurl }}/javascripts/app.js"></script>