<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="viewport" content="width=640">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
	<link rel="stylesheet" href="stylesheets/app.css">
	<link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
	
	<!-- <script src="javascripts/modernizr.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

	<title>Albuquerque Film Locations Heat Map</title>
</head>

<body>
	<header class="row">
		<div class="large-12 columns">
			<h1 class="logo site-name text-center">Albuquerque Film Locations</h1>
			<p>There have been many films, television shows, and commercials shot on location throughout this great city. We constructed this using the <a class="no-gradient" href="http://www.cabq.gov/abq-data/" target="_blank">ABQ Open Data Portal</a> to visualize which areas are utilized the most by productions. For those of you looking to have a <em>cameo</em>...we suggest you hang out where it's <span class="hot">hot!</span></p>
		</div>
	</header>
	
	<div class="row">
		<div class="large-12 columns" role="content">
		{{ content }}
		</div>
	</div>
	
	<footer>
		<div class="copyright">
			<a href="http://www.codeforamerica.org/governments/albuquerque/" target="_blank">A project of the 2015 Code for America Albuquerque Fellows.</a> <a href="https://github.com/codeforamerica/abq-filmlocations" target="_blank">Fork it on GitHub.</a>
		</div>
	</footer>
</body>
</html>